version: '3'
services:
  development:
    image: ghcr.io/kphrx/plc-handle-tracker-devcontainer:latest
    volumes:
    - ../..:/workspaces:cached
    command: sleep infinity

  db:
    image: postgres:15-alpine
    restart: always
    network_mode: service:development
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "vapor_username", "-d", "vapor_database"]
    environment:
      POSTGRES_USER: vapor_username
      POSTGRES_PASSWORD: vapor_password
      POSTGRES_DB: vapor_database

  redis:
    image: redis:7-alpine
    restart: always
    network_mode: service:development
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
