/* layout */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: max-content;
  max-width: 100vw;
}
body > header {
  padding: 16px;
}
body > header > #app-title {
  margin: 0 48px;
}
body > header > nav {
  margin: 5px 3px;
}
body > header > nav > p {
  margin: 0 16px;
}
body > header > nav > ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: max-content;
  max-width: 320px;
}

main {
  flex: auto;
  padding: 8px;
}
main > #page-title {
  margin-top: 0;
}

body > footer {
  padding: 16px;
}
#license {
  margin: 0;
}

/* color */
:root {
  background: #fff;
  color: #242424;
}

a {
  text-decoration: none;
  color: #0068da;
}
a:visited {
  color: #ad52de;
}
a:active {
  color: #ee0000;
}

body > header > #app-title > a {
  color: currentColor;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: #000;
    color: #dbdbdb;
  }

  a {
    color: #ff9724;
  }
  a:visited {
    color: #4fad20;
  }
  a:active {
    color: #11ffff;
  }
}

/* typography */
:root {
  font-family: sans-serif;
}

body > header > #app-title {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
}
body > header > nav > p {
  text-align: center;
}

#page-title {
  font-size: 1.6rem;
  text-align: center;
  white-space: nowrap;
}

#license {
  text-align: center;
}

.handle, .did-plc {
  font-family: monospace, serif;
}

/* github-corner */
#source-code {
  margin: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.github-corner svg {
  fill: #151513;
  color: #fff;
  position: absolute;
  top: 0;
  border: 0;
  left: 0;
  transform: scale(-1, 1);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

@media (prefers-color-scheme: dark) {
  .github-corner svg {
    fill: #fff;
    color: #151513;
  }
}

.github-corner .octo-arm {
  transform-origin: 130px 106px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }

  20%, 60% {
    transform: rotate(-25deg);
  }

  40%, 80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
